// colors

:root {
  --color-primary: #e15aa1;
  --color-primary-light: #e77bb4;
  --color-primary-dark: #b44881;

  --color-secondary: #1a305a;
  --color-secondary-light: #48597b;
  --color-secondary-dark: #152648;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --color-black: #333;

  //

  // font variables
  --font-primary: "Josefin Sans", sans-serif;
  --font-display: "Nunito Sans", sans-serif;

  // font size
  --default-font-size: 1.2rem;

  // section-padding
  --section-padding: 9.6rem 0;
}
