.footer {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  grid-column: full-start / full-end;
  color: #fff;
  padding: 2.4rem 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &__copy {
    justify-self: end;

    p {
      font-size: 1.4rem;
    }
  }
}
.footer__img-photo {
  width: 25rem;
  height: 5rem;
}
